<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ detail_list.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' detail_list.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' detail_list.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
        </div>
    </main>
    <table>
        <thead>
            <tr>
                <th>Tasks</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in detail_list.items.all %}
            <tr>
                <td>
                    <a href="{% url 'todo_item_update' detail.id %}">{{ detail.task }}</a>
                </td>
                <td>
                {{ detail.due_date }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
