<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
            </p>
            <p>
                <a href="{% url 'todo_item_create' %}">Create a new </a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    <th>
                    {% for todo in todolist_object.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }}</a>
                        </td>
                        <td>
                            {{todo.items.count}}
                        </td>
                    </tr>
                    {% endfor %}
                    </th>
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>



{% comment %} {% for ingredient in recipe_object.ingredients.all %}
<tr>
    <td>{{ ingredient.amount }}</td>
    <td>{{ ingredient.food_item }}</td>
</tr>
{% endfor %} {% endcomment %}
